body {
  background: white;
  color: black;
  font-family: Times New Roman, serif;
  max-width: 600px;
  margin: 40px auto;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

hr {
  margin: 30px 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 18px 0 22px 0;
  border: 1px solid #ddd;
}

/* slight imperfection */
.entry img {
  transform: rotate(-0.3deg);
}
