body {
  font-family: serif;
  background: white;
  color: black;
  max-width: 640px;
  margin: 60px auto;
  line-height: 1.5;
}

h1, h2 {
  font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 6px;
}

hr {
  border: none;
  border-top: 1px solid black;
  margin: 30px 0;
}

nav {
  margin-bottom: 40px;
}

nav a {
  margin-right: 12px;
}
