body {
  background: white;
  color: black;
  font-family: Times New Roman, serif;
  max-width: 600px;
  margin: 40px auto;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

hr {
  margin: 30px 0;
}
